// Phases page

.phases-page {
  .row {
    .phases-tabs {
      display: flex;

      .nav-item {
        list-style: none;
        width: 100%;

        .nav-link {
          box-shadow: 0px -2px 10px 0px rgba(179, 179, 179, 1);
          border-bottom: none;
          padding: 1.5em;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          height: 100%;
        }

        img {
          top: 20px;
          display: block;
          position: absolute;
          right: 30px;
        }
      }

      &:nth-of-type(1) {

        ul.blue-bullet-list li {
          margin-bottom: 10px;
          font-size: 13px;

          &:before {
            background-color: #c5dfa1;
            top: 4px;
          }
        }

        .nav-item {
          .nav-link {
            color:#62a502;

            small {
              color: #4D4D4D;
            }

            &.active {
              background-color: #62a502;
              box-shadow: none;
              color: white;

              small {
                color: white;
              }

              img {
                display: none;
              }
            }
          }
        }
      }

      &:nth-of-type(2) {

        ul.blue-bullet-list li {
          margin-bottom: 10px;
          font-size: 13px;

          &:before {
            background-color: #83c8e0;
            top: 4px;
          }
        }

        .nav-item {
          .nav-link {
            color: #067fa9;

            small {
              color: #4D4D4D;
            }

            &.active {
              background-color: #067fa9;
              box-shadow: none;
              color: white;

              small {
                color: white;
              }

              img {
                display: none;
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        ul.blue-bullet-list li {
          margin-bottom: 10px;
          font-size: 13px;

          &:before {
            background-color: #c09bc1;
            top: 4px;
          }
        }


        .nav-item {
          .nav-link {
            color: #8d2f88;

            small {
              color: #4D4D4D;
            }

            &.active {
              background-color: #8d2f88;
              box-shadow: none;
              color: white;

              small {
                color: white;
              }

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .phase-main-image {
    width: 150px;
    height: 100%;
  }
  .phase-content {
    .selected-tab-phase0 {
      background-image: linear-gradient(to right, #62a502 40%, #067fa9);

      img {
        width: 100%;
        filter: brightness(7.5);
      }
    }

    .selected-tab-phase1 {
      background-color:#067fa9;

      img {
        width: 100%;
        filter: contrast(2.5) brightness(3.5);
      }
    }

    .selected-tab-phase2 {
      background-image: linear-gradient(to right, #067fa9, #8d2f88 40%);

      img {
        width: 100%;
        filter: brightness(4.5);
      }
    }

    .stage-img {
      float: right;
    }
  }

}


// services - phase

.phase-list-info{
  .paragraphs{
    &:first-of-type{
      p{
        &:first-child{
          color: $primary_color;
          font-family: 'Roboto Slab', serif;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 40px;
        }
      }
    }
  }
}

.phase-circle {
  display: flex;
  position: relative;
  color: white;

  .phase {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }

    ul.blue-bullet-list li, .paragraphs ul li {
      line-height: 0.2em;
      margin-right: 20px;

      &:before {
        display: none;
      }
    }

    &:nth-of-type(1) {
      width: 100%;
      position: relative;
      background-image: linear-gradient(to right, #8cbf44 40%, #0791c1);
      border-radius: 50%;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      padding: 3.5em 3em;
      text-align: left;
      margin-right: 70px;

      img {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        filter: brightness(7.5);
        width: 35%;
        opacity: 0.6;
      }

      p {
        text-decoration: underline;
        text-decoration-color: #c5dfa1;
        text-underline-position: under;
        margin-left: 20px;
        font-weight: 100;
      }

      .implementation-phase-list {
        display: none;
      }
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
      border-radius: 50%;
      background-color: #0791c1;
      width: 350px;
      height: 350px;
      box-shadow: 0px 0px 10px 0px rgba(0, 143, 195, 0.71);
      overflow: hidden;

      img {
        filter: contrast(2.5) brightness(3.5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        z-index: -1;
      }

      .List-image-hover {
        position: absolute;
        height: 150px;
        width: 150px;
        border: 20px solid #0791c1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
      }

      p {
        margin-top: 80px;
        text-decoration: underline;
        text-decoration-color: #05acd0;
        text-underline-position: under;
        z-index: 5;
        font-weight: 100;
      }

      .implementation-phase-list {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 100;
        z-index: 5;
      }

      ul {
        counter-reset: item;

        li {
          margin-bottom: 0;
          margin-left: 0;
          counter-increment: item;
          z-index: 5;

          &:before {
            display: inline-block;
            color: white;
            text-align: center;
            content: counter(item) '.';
            top: -20px;
          }

          .arrow {
            margin: 0 auto;
            position: absolute;
            margin: 0 auto;
            width: 30px;

            .curve {
              border: 2px solid #05acd0;
              border-color: transparent transparent transparent #05acd0;
              width: 190px;
              height: 135px;
              border-radius: 50%/130px 100px 0 0;
            }

            .point {
              position: absolute;
              top: 0;
              transform: rotate(40deg) translate(42px, -5px);

              &::before {
                position: absolute;
                top: 0px;
                border-right: 5px solid transparent;
                border-bottom: 10px solid #05acd0;
                border-left: 5px solid transparent;
                width: 0;
                height: 0;
                content: ' ';
              }
            }
          }

          &:nth-of-type(1) {
            top: 35px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &:before {
              left: 50%;
              transform: translateX(-50%);
              top: -20px;
              font-weight: 100;
            }

            .arrow {
              transform: rotate(119deg) translate(-84px, -105px);
            }
          }

          &:nth-of-type(2) {
            top: 50%;
            position: absolute;
            right: 0px;
            transform: translateY(-50%);

            &:before {
              left: 90%;
              transform: translateX(-50%);
              font-weight: 100;
            }

            .arrow {
              transform: rotate(-160deg) translate(-45px, -18px);
            }
          }

          &:nth-of-type(3) {
            bottom: 30px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &:before {
              left: 50%;
              transform: translateX(-50%);
              top: -20px;
              font-weight: 100;
            }

            .arrow {
              transform: rotate(-58deg) translate(50px, -160px);
            }
          }

          &:nth-of-type(4) {
            top: 50%;
            position: absolute;
            left: 20px;
            transform: translateY(-50%);

            &:before {
              left: 0;
              font-weight: 100;
            }

            .arrow {
              transform: rotate(22deg) translate(-34px, -175px);
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      width: 100%;
      position: relative;
      background-image: linear-gradient(to right, #0791c1, #8d2f88 40%);
      border-radius: 50%;
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
      padding: 3.5em 3em;
      text-align: right;
      margin-left: 70px;

      img {
        position: absolute;
        top: 53%;
        right: 15px;
        filter: brightness(4.5);
        transform: translateY(-50%);
        width: 35%;
      }

      p {
        text-decoration: underline;
        text-decoration-color: #b567b2;
        text-underline-position: under;
        margin-right: 20px;
        font-weight: 100;
      }

      .implementation-phase-list {
        display: none;
      }
    }
  }
}

.logo-phase{
  vertical-align: top;
  margin-top: -10px;
}