//Solution Icons

.custom-icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.icon-content-management {background-image: url("../../public/images/icons/content_manegment.png")}
.icon-business-management {background-image: url("../../public/images/icons/business_management.png")}
.icon-product-configurator {background-image: url("../../public/images/icons/product_configurator.png")}
.icon-omnichannel-commerce {background-image: url("../../public/images/icons/omni-channel_commerce.png")}
.icon-pim {background-image: url("../../public/images/icons/pim.png")}
.icon-iot {background-image: url("../../public/images/icons/electronics_iot.png")}

//Industries Icons

.icon-automotive {background-image: url("../../public/images/icons/automotive.png")}
.icon-chemicals {background-image: url("../../public/images/icons/chemicals.png")}
.icon-computers {background-image: url("../../public/images/icons/computers_accessories.png")}
.icon-food {background-image: url("../../public/images/icons/food_beverages.png")}
.icon-oil {background-image: url("../../public/images/icons/oil_gas.png")}
.icon-pharmacy {background-image: url("../../public/images/icons/pharmacy.png")}
.icon-retail {background-image: url("../../public/images/icons/retail.png")}
.icon-security {background-image: url("../../public/images/icons/security.png")}
.icon-steel {background-image: url("../../public/images/icons/steel_and_mining.png")}