$primary_color: #2B4279;

$text_color: #4D4D4D;
$grey_color: #70777c;
$link_color: #017fab;
$inactive_color: #767676;
$green_color: #48B34C;
$orange_color: #F7931E;
$purple_color: #93278F;
$red_color: #c9001d;

$grey_bg: #f2f2f2;
$blue_bg: #017fab;

$mid-grey: #666666;
$border-grey: #A8ABAB;
$hr-grey: #ECECEB;
$tab-border: #DFDFDE;